In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

# Creating the data

In [2]:
df = pd.DataFrame({'Name': ['a', 'd', 'c', 'e', 'w'], 'Marks': [32, 43, 52, 12, 52]})
df

  Name  Marks
0    a     32
1    d     43
2    c     52
3    e     12
4    w     52

# Standardize the data

In [4]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
scaled_marks = scaler.fit_transform(df[['Marks']])
df['Scaled_marks'] = scaled_marks

In [5]:
df

  Name  Marks  Scaled_marks
0    a     32     -0.412637
1    d     43      0.319461
2    c     52      0.918450
3    e     12     -1.743724
4    w     52      0.918450